/* Hero Section */

.hero-image-holder img{
  width: 720px;
  height: calc(100vh - 100px);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 51.56%, rgba(0, 0, 0, 0.2) 100%);
  object-fit: cover;
}

/* Service Info Section */


/* Product Review Section */


/* Running content */
.running_content {
  position: relative;
  min-width: 100%;
  overflow-x: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-bottom: 55px;
}

.running_content picture img{
  width: 100%;
  height: calc(100vh - 100px);
  object-fit: cover;
}

.running-text-holder {
  position: absolute;
  bottom: 61px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 96px;
  animation: slide-left 40s linear infinite;
}

.running-text {
   color: #FFFFFF;
   font-size: 80px;
   line-height: 120%;
}

/* keyframe animations */
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/* Podcast Section */
.podcast-section {
  padding: 28px 150px 60px;
}

.podcast-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.podcast-section h6 {
  margin-bottom: 42px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}



@media (max-width:1440px) {
  .hero-image-holder img{
    width: 50vw;
  }
}

@media (max-width:1440px) {
  
}

@media (max-width:1200px) {
  .podcast-section {
    padding: 28px 15px 60px;
  }
}

@media (max-width: 1060px) {
   .color-swatches-holder {
     margin: 0 20px;
   }
   .product-review-container {
     flex-direction: column;
     align-items: center;
   }
   .product-review-container div{
    flex-direction: row;
   }
   .product-img-holder {
     margin: 20px;
   }
   .podcast-grid img {
    max-width: 100px;
    object-fit: cover;
   }
}

@media (max-width:700px) {
  .podcast-grid {
    justify-content: center;
  }
   .podcast-grid img {
     margin: 20px;
   }
}