.running_content {
  position: relative;
  min-width: 100%;
  overflow-x: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-bottom: 55px;
}

.running_content picture img{
  width: 100%;
  height: calc(100vh - 100px);
  object-fit: cover;
}

.running-text-holder {
  position: absolute;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  bottom: 61px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 96px;
  animation: slide-left 40s linear infinite;
}

.running-text-holder span {
   color: #FFFFFF;
   font-size: 80px;
   line-height: 120%;
   display: inline-block;
   padding-left: 100%;
   animation: runningText 20s linear infinite;
}

.running-text-holder .running-text_2 {
  animation-delay: 10s;
}
/* keyframe animations */
@keyframes runningText {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
